<div class="brand-slider card border_all bglight">
    <header class="card-header">
        <h3 class="card-title"><span>دسته بندی های مَسای</span></h3>
    </header>
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for category in categories %}
                <div class="col-6 col-md-2 contact-bigicon">
                    <a href="{% url 'product-list' category.slug %}" target="_blank">
                        <img class="img-responsive imgpad" src="{{category.image.url}}" alt="" />
                        <b class="title-3 light-black">{{category.title}}</b>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- حذف تگ <title> اضافه -->
    </div>
</div>