{% load static %}

<header class="Masai-header default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-5">
                        <div class="logo-area default">
                            <a href="index.html">
                                <img src="/static/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-5 col-sm-8 col-7">
                        <div class="search-area default">
                            <form action="#" class="search">
                                <input type="text" placeholder="جستجو">
                                <button type="submit"><img src="/static/img/search.png" alt=""></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="user_head">
                            <a href="login.html" class="iconhead">

                                <i class="fa fa-user-large font-20" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div class="cart dropdown masai_dropdown">
                            <span class="divider"></span>

                            <a href="#" class="dropdown-toggle iconhead" data-toggle="dropdown" id="navbar_a">
                                <i class="fa fa-cart-arrow-down font-20" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbar_a">

                                
                                <ul class="m_cart-list">
                                    <li class="m_cart_li1">
                                        <a href="single-product.html" class="m_cart-item">
                                            <i class="fa fa-times" aria-hidden="true"></i>

                                         
                                            <div class="m_cart-item-content">
                                                <div class="m_cart-item-image">
                                                    <img src="/static/img/product_img/p_6.jpg" />
                                                </div>
                                                <div class="m_cart-item-details">
                                                    <div class="m_cart-item-title">
                                                        ساعت هوشمند امیزفیت 
                                                    </div>
                                                    <div class="m_cart-item-params">
                                                        <div class="m_cart-item-props">
                                                            <span>تعداد : 2</span>
                                                            <span>رنگ: سبز ارتشی</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="m_cart_li2">
                                        <a href="single-product.html" class="m_cart-item">
                                            <i class="fa fa-times" aria-hidden="true"></i>


                                            <div class="m_cart-item-content">
                                                
                                                <div class="m_cart-item-details">
                                                    <div class="m_cart-item-title">
                                                         شیائومی مدل Poco X4
                                                    </div>
                                                    <div class="m_cart-item-params">
                                                        <div class="m_cart-item-props">
                                                            <span>تعداد : 1</span>
                                                            <span>رنگ: مشکی</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m_cart-item-image">
                                                    <img src="/static/img/product_img/p_9.jpg" />
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="m_cart-header">
                                    <div class="m_cart-total">
                                        <span>مجموع سبد:</span>
                                        <span> ۳۵,۲۵۳,۵۰۰</span>
                                        <span> تومان</span>
                                    </div>
                                </div>
                                <div class="btn_cart">
                                    <a href="cart.html" class="btn btn_sabad">مشاهده سبد</a>
                                    <a href="Final-payment.html" class="btn btn_pardakht btn-main-masai">پرداخت</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <nav class="nav_header">
                <ul class="nav__ullist">
                    <li class="list_style">
                        <i class="fa fa-bars icon-icon" aria-hidden="true"></i><a href="#" class="list__link">دسته بندی کالاها</a>
                        <div class="submeno">
                            <ul class="main_meno-drobdown">
                                {% for category in categories %}
                                    <li class="child_mno-drobdown">
                                    <a href="{% url 'product-list-by-category' category.slug %}" class="run">{{category.title}}</a>
                                    <div class="mega_meno">
                                        <ul class="list_drobdown--item">
                                            <li class="list_drobdown--items border_left--red">
                                                <a href="#"
                                                   class="list__drobdown--link texr_header block_block">
                                                    همه محصولات موبایل
                                                </a>
                                            </li>
                                            <ul class="ul_list">
                                                <ul class="mega_meno--block">
                                                
                                                  
                                                    <li class="list_mega border_left">
                                                        <a href="#" class="mega_link--link texr_header">گوشی براساس قیمت</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی تا 2 میلیون تومان</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link"> گوشی تا 5 میلیون تومان</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی تا 7 میلیون تومان</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی تا 15 میلیون تومان</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی بالای 15 میلیون تومان</a>
                                                    </li>
                                                    <li class="list_mega border_left">
                                                        <a href="#" class="mega_link--link texr_header">گوشی براساس حافظه داخلی</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی تا 16 گیگابایت</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی تا 32 گیگا بایت</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی تا 32 گیگا بایت</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی تا 128 گیگابایت</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی تا 256 گیگابایت</a>
                                                    </li>
                                                </ul>
                                            </ul>
                                            <ul class="ul_list--cecond">
                                                <ul class="mega_meno__cecond">
                                                    
                                                    <li class="list_mega border_left">
                                                        <a href="#" class="mega_link--link texr_header">
                                                            رزولوشن عکس
                                                        </a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">تا ۱۳ مگاپیکسل</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link"> تا ۱۶ مگاپیکسل</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">تا ۴۸ مگاپیکسل</a>
                                                    </li>
                                                    <li class="list_mega ">
                                                        <a href="#" class="mega_link--link ">تا ۶۴ مگاپیکسل</a>
                                                    </li>
                                                    <li class="list_mega ">
                                                        <a href="#" class="mega_link--link ">تا ۱۰۸ مگاپیکسل</a>
                                                    </li>
                                                    <li class="list_mega border_left">
                                                        <a href="#" class="mega_link--link texr_header">
                                                            گوشی براساس کاربری
                                                        </a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی اقتصادی</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link"> گوشی میان رده</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی دانش آموزی</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی گیمینگ</a>
                                                    </li>
                                                    <li class="list__mega--itmes">
                                                        <a href="#" class="list__mega--link">گوشی پرچمدار</a>
                                                    </li>
                                                    
                                                </ul>
                                            </ul>
                                            <li class="list_drobdown--items border_left--red">
                                                <a href="#" class="list__drobdown--link texr_header">لوازم جانبی</a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link">کیف گوشی </a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link">کاور گوشی </a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link"> شارژر همراه</a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link">گارد گوشی</a>
                                            </li>
                                            <li class="list_drobdown--items border_left--red">
                                                <a href="#" class="list__drobdown--link texr_header">برند ترین ها</a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link">اپل</a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link">سامسونگ</a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link">هوآوی  </a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link">شیائومی</a>
                                            </li>
                                          
                                            <li class="list_drobdown--items border_left--red">
                                                <a href="#" class="list__drobdown--link texr_header">سیستم عامل</a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link"> اندروید</a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link">آی او اس</a>
                                            </li>
                                            <li class="list_drobdown--items">
                                                <a href="#" class="list__drobdown--link">ویندوز</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="list_style">
                        <i class="fa fa-percent icon-icon" aria-hidden="true"></i><a href="#" class="list__link">
                            تخفیفات و
                            پیشنهادات
                        </a>
                    </li>
                    <li class="list_style">
                        <a href="#" class="list__link">سوالی دارید؟</a>
                    </li>
                    <ul class="nav_header-2">
                        <li class="list_style">
                            <i class="fa fa-map icon-icon" aria-hidden="true"></i>
                            <a href="order-address.html" class="list__link">انتخاب موقعیت</a>
                        </li>
                    </ul>
                </ul>
            </nav>
        </header>