<!DOCTYPE html>
<html lang="fa">

{% block page_title %}
    <title>مَسای شاپ </title>
{% endblock page_title %}

<head>
    {% include "includes/header_refrences.html" %}
</head>

<body class="index-page sidebar-collapse">
    <!--start mobile header -->
    {% include 'includes/header_mobile.html' %}
    <!-- end mobile header -->
    <div class="wrapper default">

        <!--start pc header -->
        {% include 'includes/header_pc.html' %}
        <!-- end pc header -->
        
        
        {% block content %}
            <main class="main default space-top-10">
        
            <div class="container-fluid">
                <div class="slider_main owl-carousel owl-theme">
                
                    <div class="item">
                        <a href="category-search.html">
                            <svg xmlns="http://www.w3.org/2000/svg"  class="svg_Masai" width="231" height="75" viewBox="0 0 231 75" fill="none" style="float: right;margin-bottom: -100px;position: relative;z-index: 9;margin-top: 0px;margin-right: 30px;">
                                <path clip-rule="evenodd" d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z" fill="#FCFCFC" fill-rule="" style="fill: #fff;"></path>
                            </svg>
                            <img src="/static/img/banner_img/01/16781944460617.jpg" class="img-fluid imgslider" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="svg_Masai" width="231" height="75" viewBox="0 0 231 75" fill="none" style="float: right;margin-bottom: -100px;position: relative;z-index: 9;margin-top: 0px;margin-right: 30px;">
                            <path clip-rule="evenodd" d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z" fill="#FCFCFC" fill-rule="" style="fill: #fff;"></path>
                        </svg>
                        <a href="category-search.html">
                            <img src="/static/img/banner_img/01/16785213091818.jpg" class="img-fluid imgslider" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <svg xmlns="http://www.w3.org/2000/svg"  class="svg_Masai" width="231" height="75" viewBox="0 0 231 75" fill="none" style="float: right;margin-bottom: -100px;position: relative;z-index: 9;margin-top: 0px;margin-right: 30px;">
                            <path clip-rule="evenodd" d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z" fill="#FCFCFC" fill-rule="" style="fill: #fff;"></path>
                        </svg>
                        <a href="category-search.html">
                            <img src="/static/img/banner_img/01/16789575390919.jpg" class="img-fluid imgslider" alt="">
                        </a>
                    </div>
                </div>
                
                    
                     
            </div>
            <div class="container space-top-50 ">
                <div class="row">

                    <div class="col-9 hidden-xs hidden-md">
                        <section id="offercarousel" class="carousel slide carousel-fade card border_all" data-ride="carousel">
                            <div class="row m-0">

                                <div class="carousel-inner p-0 col-12 col-lg-12">
                                    <ol class="carousel-indicators pr-0 d-flex flex-column ">
                                        {% for product in products %}
                                        <li class="{% if forloop.first %} active {% endif %}" data-target="#offercarousel" data-slide-to="{{forloop.counter0}}">
                                            
                                        </li>
                                        {% endfor %}
                                    </ol>
                                    {% for product in products %}
                                        <div class="carousel-item {% if forloop.first %} active {% endif %}">                                    
                                        <div class="row m-0">
                                            <div class="right-col col-5 d-flex imgboxofer">
                                                <a class="w-100 text-center" href="single-product.html">
                                                    <img src="{{product.image.url}}" class="img-fluid" alt="">
                                                    <span class="discount-percent">{{product.discount}} % تخفیف</span>

                                                </a>
                                            </div>
                                            <div class="left-col col-7">
                                               
                                                <h2 class="product-title ">
                                                    <a href="{% url 'product-detail' product.slug %}">  {{product.title}}   </a>

                                                </h2>
                                                <hr class="hr-text" data-content="Soundcore Life A1 -مدل A3927">

                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="list-group space-15">
                                                            <li class="list-group-item">رنگ: {{product.color}}</li>
                                                            <li class="list-group-item">بلوتوث:دارد</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-6">
                                                        <ul class="list-group space-15">
                                                            <li class="list-group-item">قابلیت‌های مقاومتی : مقاوم در برابر آب</li>
                                                            <li class="list-group-item"> نوع گوشی : دو گوشی</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            
                                                <div class="price space-15">
                                                    <del><span>1,599,000<span>تومان</span></span></del>
                                                    <ins><span>1,180,000<span>تومان</span></span></ins>
                                                </div>
                                                
                                                <div class="row space-15">
                                                    <div class="col-5 timer-title">


                                                        <h5>یه ثانیه هم غنیمته</h5>
                                                        <p>زمان باقی مانده </p>

                                                    </div>
                                                    <div class="col-7">
                                                        <div class="countdown-timer" countdown data-date="06 12 2023 20:20:22">
                                                            <ul class="text_countdown">
                                                                <li data-days class="number_countdown">0</li>
                                                                <li>روز</li>
                                                            </ul>
                                                            <ul class="text_countdown">
                                                                <li data-hours class="number_countdown">0</li>
                                                                <li>ساعت</li>
                                                            </ul>
                                                            <ul class="text_countdown">
                                                                <li data-minutes class="number_countdown">0</li>
                                                                <li>دقیقه</li>
                                                            </ul>
                                                            <ul class="text_countdown">
                                                                <li data-seconds class="number_countdown">0</li>
                                                                <li>ثانیه</li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-3 hidden-xs hidden-md">
                        <div class="widget-bid-s widget card border_all ">

                            <div id="bid-s" class="owl-carousel owl-theme">
                                {% for product in products %}
                                    <div class="item">
                                    <a href="single-product.html">
                                        <img src="{{product.image.url}}" class="w-100" alt="">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="{% url 'product-detail' product.slug %}"> {{product.title}} </a>
                                    </h3>
                                    <div class="price">
                                        <span class="amount">{{product.price}}<span>تومان</span></span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div id="progressBar">
                                <div class="slide-progress"></div>
                            </div>
                        </div>

                    </div>                   
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="widget widget-product card border_all bglight pad_time_prod" id="shegeft_1">
                                    <header class="card-header">
                                        <h3 class="card-title">
                                            <span>
                                                <img src="/static/img/shegeft_1.png" />
                                            </span>
                                        </h3>
                                        <div class="countdown-timer" countdown data-date="06 12 2023 20:20:22">
                                            <ul class="text_countdown">
                                                <li data-days class="number_countdown">0</li>
                                                <li>روز</li>
                                            </ul>
                                            <ul class="text_countdown">
                                                <li data-hours class="number_countdown">0</li>
                                                <li>ساعت</li>
                                            </ul>
                                            <ul class="text_countdown">
                                                <li data-minutes class="number_countdown">0</li>
                                                <li>دقیقه</li>
                                            </ul>
                                            <ul class="text_countdown">
                                                <li data-seconds class="number_countdown">0</li>
                                                <li>ثانیه</li>
                                            </ul>
                                        </div>
                                    </header>
                                    <div class="product-carousel owl-carousel owl-theme">
                                        {% for offer in products_isOffer %}
                                            <div class="item">
                                            <a href="single-product.html">
                                                <img src="{{offer.image.url}}"  class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="single-product.html">{{offer.title}}</a>
                                            </h2>
                                            <div class="price">
                                                <del><span>{{offer.price}}<span>تومان</span></span></del>
                                                <span class="discount_badge">{{offer.discount}}%</span>
                                                {% comment %} <ins><span>665,000<span>تومان</span></span></ins> {% endcomment %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <a href="#" class="view_more">مشاهده بیشتر</a>

                                </div>
                            </div>
                        </div>
                        <div class="row banner-ads">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="widget-banner card">
                                            <a href="{% url 'product-list' %}" target="_top">
                                                <img class="img-fluid" src="/static/img/banner_img/img-8.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="widget widget-product card border_all bglight">
                                    <header class="card-header">
                                        <h3 class="card-title">
                                            <span><img src="/static/img/seller_1.png" /></span>
                                        </h3>
                                    </header>
                                    <div class="product-carousel owl-carousel owl-theme">
                                        <div class="item">
                                            <a href="#">
                                                <img src="/static/img/product_img/p_9.jpg"  class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="#"> گوشی شیائومی مدل Poco X4 Pro 5G </a>
                                            </h2>
                                            <div class="price">
                                                <del><span>13,159,000<span>تومان</span></span></del>
                                                <span class="discount_badge">5%</span>

                                                <ins><span>12,000,000<span>تومان</span></span></ins>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="/static/img/product_img/p_7.jpg" class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="#">  گوشی اپل مدل Iphone 13 Pro Max  </a>
                                            </h2>
                                            <div class="price">
                                                <del><span>72,990,000<span>تومان</span></span></del>
                                                <span class="discount_badge">2%</span>

                                                <ins><span>68,280,000<span>تومان</span></span></ins>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="/static/img/product_img/p_15.jpg"  class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="#"> گوشی موبایل سامسونگ گلکسی A32 </a>
                                            </h2>
                                            <div class="price">
                                                <del><span>18,799,000<span>تومان</span></span></del>
                                                <span class="discount_badge">2%</span>

                                                <ins><span>16,699,000<span>تومان</span></span></ins>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="/static/img/product_img/p_17.jpg" class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="#"> گوشی موبایل سامسونگ گلکسی A23</a>
                                            </h2>
                                            <div class="price">
                                                <span>15,780,000<span>تومان</span></span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="/static/img/product_img/p_19.jpg"  class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="#"> گوشی موبایل ردمی نوت 11SE شیائومی </a>
                                            </h2>
                                            <div class="price">
                                                <del><span>25,156,000<span>تومان</span></span></del>
                                                   <span class="discount_badge">2%</span>

                                                <ins><span>16,255,000<span>تومان</span></span></ins>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="/static/img/product_img/p_21.jpg"  class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="#">  اپل مدل Iphone 14 Pro Max </a>
                                            </h2>
                                            <div class="price">
                                                <span>79,279,000<span>تومان</span></span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="/static/img/product_img/p_20.jpg" class="img-fluid" alt="">
                                            </a>
                                            <h2 class="product_title">
                                                <a href="#">  گوشی موبایل ردمی نوت 15  شیائومی  </a>
                                            </h2>
                                            <div class="price">
                                                <span>28,450,000<span>تومان</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="view_more">مشاهده بیشتر  </a>

                                </div>
                            </div>
                        </div>
                     
                       
                       
                    </div>
                    
                </div>
                <div class="row banner-ads">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="widget widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="/static/img/banner_img/img-9.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12">
                        {% include 'shared/category.html' %}
                    </div>
                </div>
               
                <div class="row">

                    <div class="col-12">
                        <div class="brand-slider card border_all bglight">
                            <header class="card-header">
                                <h3 class="card-title"><span>محبوب‌ترین برندها</span></h3>
                            </header>
                            <div class="owl-carousel">
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-1.jpg" alt=""> </a>
                                </div>
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-2.jpg" alt=""> </a>
                                </div>
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-3.jpg" alt=""> </a>
                                </div>
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-4.jpg" alt=""> </a>
                                </div>
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-5.jpg" alt=""> </a>
                                </div>
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-6.jpg" alt=""> </a>
                                </div>
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-7.jpg" alt=""> </a>
                                </div>
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-8.jpg" alt=""> </a>
                                </div>
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-9.jpg" alt=""> </a>
                                </div>
                                <div class="item borderitem">
                                    <a href="#"> <img src="/static/img/brands/brand-10.jpg" alt=""> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% endblock content %}
        

    {% include "includes/footer.html" %}
    </div>
    <!--    JS Files   -->
    {% include 'includes/footer_references.html' %}
</body>

</html>